asgiref==3.4.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
distlib==0.3.3
Django==3.2.7
filelock==3.3.1
idna==3.3
lxml==4.6.3
numpy==1.21.3
pandas==1.3.4
pipenv==2021.5.29
platformdirs==2.4.0
python-dateutil==2.8.2
pytrends==4.7.3
pytz==2021.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
source==1.2.0
sqlparse==0.4.2
urllib3==1.26.7
virtualenv==20.8.1
virtualenv-clone==0.5.7
Pillow==8.3.1
python-dotenv==0.19.0
social-auth-app-django==5.0.0
django_apscheduler==0.6.2
gunicorn==20.1.0
whitenoise==6.0.0
facebook_crawler==0.0.25
future==0.18.2
wordcloud==1.8.1
jieba==0.42.1
imageio==2.16.1