{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
	<main>
		<div class="position-relative overflow-hidden p-1 p-md-3 m-md-3 text-center ">
		    <div class="col-md-12 p-lg-12 mx-auto my-12" style='background-color:#EEF1F1'>
		      <h1 class="display-4 fw-normal">捷人智慧小編</h1>
		      <p class="lead fw-normal">市場分析、推文建議、推文生成，為忙碌的您提供最合適的行銷文章</p>
		      	{% if user.is_authenticated %}
                	<a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">登出</a>
            	{% else %}
                	<a class="btn btn-outline-secondary" href="{% url 'login' %}">立即體驗</a>
            	{% endif %}
		    </div>
		 </div>
		 <div class="container col-xxl-8 px-4 py-5">
		    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		      <div class="col-10 col-sm-8 col-lg-6">
		        <img src="https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340_960_720.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		      </div>
		      <div class="col-lg-6">
		        <h1 class="display-5 fw-bold lh-1 mb-3">市場分析</h1>
		        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
		      </div>
		    </div>
		  </div>
		  <div class="container col-xxl-8 px-4 py-5">
		    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		    	<div class="col-lg-6">
		        	<h1 class="display-5 fw-bold lh-1 mb-3">推文建議</h1>
		        	<p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
		      	</div>
		      	<div class="col-10 col-sm-8 col-lg-6">
		        	<img src="https://cdn.pixabay.com/photo/2017/02/20/14/18/business-2082639_960_720.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		      	</div>
		    </div>
		  </div>
		  <div class="container col-xxl-8 px-4 py-5">
		    	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		      		<div class="col-10 col-sm-8 col-lg-6">
		        		<img src="https://images.unsplash.com/photo-1615494488092-b13b68fe0eb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		      		</div>
		      		<div class="col-lg-6">
		        		<h1 class="display-5 fw-bold lh-1 mb-3">推文生成</h1>
		        		<p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
		      		</div>
		    	</div>
		   </div>
	</main>
   
    

{% endblock content %}