{% extends "users/base.html" %}
{% block title %}Product Article {% endblock title %}
{% block content %}
    <!-- <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>-->
    {% if productList %}
    	<div class="container">
    		<div class='row'>
    			<div class="col-xs-12 col-sm-12">
    				<div role="tabpanel">
			    		<ul class="nav nav-tabs" role="tablist">
			    		{% for product in productList %}
			    			<li role="presentation">
			    				<a href="#{{ product.name }}" aria-controls="{{ product.name }}" role="tab" data-toggle="tab" >
			    					{{ product.name }}
			    				</a>
			    			</li>
			    		{% endfor %}
			    		</ul>
						<div class="tab-content">
							{% for product in productList%}
							<div role="tabpanel" class="tab-pane" id="{{ product.name}}">
								<label>{{ product.name }}</label>
								<table class="table table-hover table-striped table-bordered table-condensed" id="table{{ product.name }}">
									<thead>
										<tr>
											<th>文章</th>
											<th onclick="sortTable(1,{{product.name}})">讚數</th>
											<th onclick="sortTable(2,{{product.name}})">留言數</th>
											<th>來源</th>
										</tr>
									</thead>
									<tbody>
										{% for article in product.article %}
											<tr>
												<td>
													{{ article.content }}
												</td>
												<td>
													{{ article.likes }}
												</td>
												<td>
													{{ article.commentCount }}
												</td>
												<td>
													<a href="https://www.instagram.com/p/{{ article.src }}/">link</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<img src='{{product.wordcloud}}' alt=''/>
							</div>
						{% endfor %}
						</div>
					</div>
    			</div>
    		</div>
    	</div>
    {% endif %}
    <script>
    	function sortTable(n,name){
    		console.log(n);
    		console.log(name);
    		var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    		table = document.getElementById('table'+name.id);
    		console.log(table);
    		switching = true;
    		// Set the sorting direction to ascending:
    		  dir = "asc";
    		  /* Make a loop that will continue until
    		  no switching has been done: */
    		  while (switching) {
    			    //start by saying: no switching is done:
    			    switching = false;
    			    rows = table.rows;
    			    /*Loop through all table rows (except the
    			    first, which contains table headers):*/
    			    for (i = 1; i < (rows.length - 1); i++) {
    			      //start by saying there should be no switching:
    			      shouldSwitch = false;
    			      /*Get the two elements you want to compare,
    			      one from current row and one from the next:*/
    			      x = rows[i].getElementsByTagName("TD")[n];
    			      y = rows[i + 1].getElementsByTagName("TD")[n];
    			      //check if the two rows should switch place:
    			   	  if(dir === 'asc'){
    			   		if (Number(x.innerHTML) > Number(y.innerHTML)) {
		    			//if so, mark as a switch and break the loop:
		    				shouldSwitch = true;
		    			    break;
		    			}
    			   	  }else if(dir === 'desc'){
    			   		if (Number(x.innerHTML) < Number(y.innerHTML)) {
    		    			//if so, mark as a switch and break the loop:
    		    			shouldSwitch = true;
    		    			break;
    		    		}  
    			   	  }
    			     
    			    }
    			    if (shouldSwitch) {
    			      /*If a switch has been marked, make the switch
    			      and mark that a switch has been done:*/
    			      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
    			      switching = true;
    			      switchcount ++;
    			    }
    		    	else {
    		      /* If no switching has been done AND the direction is "asc",
    		      set the direction to "desc" and run the while loop again. */
    		      		if (switchcount == 0 && dir == "asc") {
    		          		dir = "desc";
    		          		switching = true;
    		        	}
    		    	}
    		}
    	}
    	
    	
    </script>
{% endblock content %}