{% extends "users/base.html" %}
{% block title %}Product Mangement Page{% endblock title %}
{% block content %}
    <!-- <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>-->
    {% if product_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in product_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if product_list %}
    	<div class="container">
    	<div class="row">
			<div class="col">
				商品名稱
			</div>
			<div class="col">
			   	簡短描述
			</div>
		</div>
    	{% for product in product_list%}
    	<br>
			  <div class="row">
			    <div class="col">
			      {{product.name}}
			    </div>
			    <div class="col">
			      {{product.desc}}
			    </div>
			  </div>
    	{% endfor %}
    	</div>
    {% endif %}
    <br>
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">商品名稱:</label>
                            {{ product_form.name }}
                    </div>
                    <div class="form-group">
                    	<label class="small mb-1">商品類型:</label>
                    	 {{ product_form.category }}
                    </div>
                    <label class="small mb-1">描述:</label> {{ product_form.desc  }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">儲存</button>
            <button type="reset" class="btn btn-dark btn-lg">重新設定</button>
        </form>
    </div>
{% endblock content %}