{% extends 'users/base.html' %}

{% block content %}
	<style>
		#addTag:hover{
			background-color: #BEBEBE;
		}
	</style>
	<div class="container">
		{% if article %}
		<div>
			<pre>{{article}}</pre>
		</div>
		{% endif %}
	</div>
    <form action="" method="Post">
        {% csrf_token %}
        <div class="form-row">
        	<div class="form-group col-12">
        		<label for="productCategory">選擇商品類型</label>
	        	<select id="productCategory" name="productCategory">
	        		<option value="normal">一般商品</option>
	        		<option value="package">套裝商品</option>
	        		<option value="lesson">課程商品</option>
	        	</select>
        	</div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <input class="form-control" name="city_name" placeholder="請輸入商品名稱">
            </div>
            <div class="form-group col-4">
            	<input class="form-control" name="description" placeholder="請輸入相關網址">
            </div>    
            <div class="form-group col-4">
            	<input class="form-control" name="urlTitle" placeholder="請輸入網址說明">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <input class="form-control" name="address" placeholder="請輸入地址">
            </div>
            <div class="form-group col-6">
            	<input class="form-control" name="tel" placeholder="請輸入連絡電話">
            </div>    
        </div>
        <div class="form-row">
        	<div class="form-group col-12">
        		<label>請輸入商品促銷相關消息</label>
        		<textarea class="form-control" name="saleMessage"></textarea>
        	</div>
        </div>
        <div id='hashTag'>
        	<div id="addTag" style=''>
        		<label>新增Hash Tag</span>
        	</div>
        	
        </div>
        <br>
        <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="產生">
        </div>
    </form>
	<script>
		function newTag(){
			var divElement = document.getElementById('hashTag');
			var inputElement = document.createElement('input');
			inputElement.class = 'form-control';
			inputElement.name = 'hashtag';
			divElement.appendChild(inputElement);
		}
		document.getElementById('addTag').onclick=newTag;
	</script>
{% endblock %}
