{% extends 'users/base.html' %}
{% block content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <form action="" method="Post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                <input class="form-control" name="city_name" placeholder="請輸入欲查尋商品名稱/關鍵字">
            </div>
            <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="查詢">
            </div>
        </div>
    </form>
    <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
			    <div role="tabpanel">
			    <!-- tab tag setting -->
				    <ul class="nav nav-tabs" role="tablist">
	                    <li role="presentation" class="active">
	                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Pchome</a>
	                    </li>
	                    <li role="presentation">
	                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Momo</a>
	                    </li>
	                    <li role="presentation">
	                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Shopee</a>
	                    </li>
	                    <li role="presentation">
	                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Yahoo</a>
	                    </li>
	                    <!--<li role="presentation">
	                        <a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Ruten</a>
	                    </li>
	                    <li role="presentation">
	                        <a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">生活市集</a>
	                    </li>-->
	                </ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab1">
							<label>Pchome</label>
							<table class="table table-hover table-striped table-bordered table-condensed">
						        <thead>
						            <tr>
						                <th>商品名稱</th>
						                <th>商品描述</th>
						                <th>價格</th>
						            </tr>
						        </thead>
						        <tbody>
						            {% for ticket in tickets %}
						            <tr>
						                <td>
							                <a href={{ticket.url}}>
							                	{{ ticket.title }}
							                </a>
						                </td>
						                <td>
						                	{{ ticket.describe }}
						                </td>
						                <td class="pchome">
						                	{{ ticket.price }}
						                </td>
						            </tr>
						            {% endfor %}
						        </tbody>
						    </table>	
						</div>
						<div role="tabpanel" class="tab-pane" id="tab2">
							<label>Momo</label>
							<table class="table table-hover table-striped table-bordered table-condensed">
						        <thead>
						            <tr>
						                <th>商品名稱</th>
						                <th>商品描述</th>
						                <th>價格</th>
						            </tr>
						        </thead>
						        <tbody>
						            {% for ticket in momos %}
						            <tr>
						                <td>
							                <a href={{ticket.url}}>
							                	{{ ticket.title }}
							                </a>
						                </td>
						                <td>
						                	{{ ticket.describe }}
						                </td>
						                <td class="momo">
						                	{{ ticket.price }}
						                </td>
						            </tr>
						            {% endfor %}
						        </tbody>
						    </table>	
						</div>
						<div role="tabpanel" class="tab-pane" id="tab3">
							<label>Yahoo</label>
							<table class="table table-hover table-striped table-bordered table-condensed">
						        <thead>
						            <tr>
						                <th>商品名稱</th>
						                <th>價格</th>
						            </tr>
						        </thead>
						        <tbody>
						            {% for ticket in shopee %}
						            <tr>
						                <td>
						                	{{ ticket.name }}
						                </td>
						                <td>
						                	{{ ticket.price }}
						                </td>
						            </tr>
						            {% endfor %}
						            
						        </tbody>
						    </table>	
						</div>
						<div role="tabpanel" class="tab-pane" id="tab4">
							<label>Shopee</label>
							<table class="table table-hover table-striped table-bordered table-condensed">
						        <thead>
						            <tr>
						                <th>商品名稱</th>
						                <th>價格</th>
						            </tr>
						        </thead>
						        <tbody>
						            {% for ticket in yahoo %}
						            <tr>
						                <td>
						                	{{ ticket.title }}
						                </td>
						                <td class="shopee">
						                	{{ ticket.price }}
						                </td>
						            </tr>
						            {% endfor %}
						        </tbody>
						    </table>	
						</div>
						<!--
						<div role="tabpanel" class="tab-pane" id="tab5">
							<label>Ruten</label>
							<table class="table table-hover table-striped table-bordered table-condensed">
						        <thead>
						            <tr>
						                <th>商品名稱</th>
						                <th>價格</th>
						            </tr>
						        </thead>
						        <tbody>
						            {% for ticket in ruten %}
						            <tr>
						                <td>
						                	{{ ticket.name }}
						                </td>
						                <td>
						                	{{ ticket.price }}
						                </td>
						            </tr>
						            {% endfor %}
						        </tbody>
						    </table>	
						</div>
						
						<div role="tabpanel" class="tab-pane" id="tab6">
							<label>生活市集</label>
							<table class="table table-hover table-striped table-bordered table-condensed">
						        <thead>
						            <tr>
						                <th>商品名稱</th>
						                <th>價格</th>
						            </tr>
						        </thead>
						        <tbody>
						            {% for ticket in buy123 %}
						            <tr>
						                <td>
						                	{{ ticket.name }}
						                </td>
						                <td>
						                	{{ ticket.price }}
						                </td>
						            </tr>
						            {% endfor %}
						        </tbody>
						    </table>	
						</div>-->
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12">
				<div>
					<canvas id="myChart" style="width:100%;max-width:100%"></canvas>
					<br>
					<canvas id="barChart" style="width:100%;max-width:100%"></canvas>
					<input id="avg" hidden value="{{ data }}">
				</div>
			</div>
		</div>
	</div>
	<script>
		var pchomes = document.getElementsByClassName('pchome');
		var momos = document.getElementsByClassName('momo');
		var shopees = document.getElementsByClassName('shopee');
		var avgObj = document.getElementById('avg');
		console.log(avgObj.value);
		var avgArray = avgObj.value;
		var splitAvg = avgArray.replace('[','').replace(']','').split(',');
		var pchomePrice = setUpPrice(pchomes);
		var momoPrice = [];
		var step;
		for(step=0;step<momos.length;step++){
			console.log(momos[step].textContent);
			momoPrice[step] = momos[step].innerText.replace(/[\n\t,]/g,'').trim();
		}
		var shopeePrice = setUpPrice(shopees);
		console.log(momoPrice);
		var xValues = [100,200,300,400,500,600,700,800,900,1000];
		if(pchomePrice.length === 0 && momoPrice.length === 0 && shopeePrice.length === 0){
			document.getElementById('myChart').setAttribute('hidden','true');
		}else{
			document.getElementById('myChart').removeAttribute('hidden');
		}
		new Chart("myChart", {
		  type: "line",
		  data: {
		    labels: xValues,
		    datasets: [{ 
		      data: pchomePrice,
		      borderColor: "red",
		      fill: false
		    }, { 
		      data: momoPrice,
		      borderColor: "green",
		      fill: false
		    }, { 
		      data: shopeePrice,
		      borderColor: "blue",
		      fill: false
		    }]
		  },
		  options: {
		    legend: {display: false}
		  }
		});
		var barxValues = ["Pchome", "MOMO", "Shopee"];
		var baryValues = splitAvg;
		if(baryValues[0] === '0'){
			document.getElementById('barChart').setAttribute('hidden','true');
		}else{
			document.getElementById('barChart').removeAttribute('hidden');
		}
		console.log(baryValues);
		var barColors = ["red", "green","blue"];
		new Chart("barChart", {
			  type: "bar",
			  data: {
			    labels: barxValues,
			    datasets: [{
			      backgroundColor: barColors,
			      data: baryValues
			    }]
			  },
			  options: {
			    legend: {display: false},
			    title: {
			      display: true,
			      text: "Price Average"
			    }
			  }
			});
		function setUpPrice(obj){
			var objPrice=[];
			if(obj.length>0){
				var step;
				for(step=0;step<obj.length;step++){
					objPrice[step] = obj[step].innerText;
				}
			}
			return objPrice;
		}
		
	</script>
{% endblock %}